#column_container {
    border-radius: 2px;
    padding: 50px;
    background-color: grey;
}


#image_asset {
    border-radius: 25px;
    width: 250px;
    height: 250px;
}


body {
    padding: 25px;
}



h1,h2,h3,h4,h5,h6,p,span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

